* {
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    font-family: 'Lato', Arial, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #333;
    height: 100%;
    background-color: #FFF;
}

a {
    text-decoration: none;
    color: #31bbfb;
}

h1 {
    text-align: center;
    font-size: 34px;
    margin: 24px 0 12px 0;
    padding-bottom: 30px;
}

h2 {
    font-size: 30px;
    margin: 20px 0 10px 0;
}

h3 {
    font-size: 26px;
    margin: 16px 0 8px 0;
}

h4 {
    font-size: 22px;
    margin: 12px 0 6px 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
}

.container .row {
    padding: 15px 0;
    line-height: 28px;
}

.container .row .col {
    display: inline-block;
    width: 100%;
}

.container .row .col-1-2 {
    display: inline-block;
    width: 49%;
    position: relative;
}

form label {
    display: inline-block;
    width: 40%;
}

form input {
    display: inline-block;
    border: solid 1px #7F7E7E;
    width: 50%;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 15px;
    position: absolute;
    right: 0;
}

form button {
    padding: 5px 15px;
    border-radius: 15px;
    background-color: #5BE675;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: -18px;
}